@{
    ViewData["Title"] = "VISTA LAN - Over ons";
}

@* Content *@
<div class="jumbotron-fluid" style="height: 800px; max-height: 800px;">
    <div class="container">
        <h1 class="title">WIE ZIJN WIJ?</h1>
        <hr />
        <div class="row">
            <div class="col-sm-6">
                <h1 class="title">CONNOR TIMMERMAN</h1>
                <hr />
                <div class="row">
                    <div class="col-sm-4">
                        <img style="width: 100%; height: auto;" src="~/img/Connor.png" />
                    </div>
                    <div class="col-sm-8">
                        <h2 class="subtitle">WIE:<br />Connor Timmerman is 20 jaar en zit in het 3e jaar van de opleiding Applicatie- en Mediaontwikkelaar.</h2>
                        <h2 class="subtitle">ACHTERGROND:<br />Connor stelde in 2019, na een informatieavond waar hij meehielp, voor om een LAN-party te organiseren voor de ICT-opleidingen op het VISTA College. Wonder boven wonder wist hij een skeptische Paul te overtuigen van de haalbaarheid.</h2>
                        <h2 class="subtitle">HOBBY'S:<br />het opzetten van LAN-parties, H.P. Lovecraft en programmeren in VR-omgevingen.</h2>
                        <h2 class="subtitle">AAN HET EINDE VAN DIT JAAR:<br />zal hij in bezit zijn van een Applicatie- en Mediaontwikkelaar-diploma en het bewijs van een geslaagde LAN-party hebben.</h2>
                        <h2 class="subtitle">MEEST GESPEELDE GAMES:<br />Minecraft, Roblox en Hello Kitty Island Adventure.</h2>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <h1 class="title">PAUL DERIX</h1>
                <hr />
                <div class="row">
                    <div class="col-sm-4">
                        <img style="width: 100%; height: auto;" src="~/img/Paul.jpg" />
                    </div>
                    <div class="col-sm-8">
                        <h2 class="subtitle">WIE:<br />Paul Derix is 33 jaar en werkt al zes jaar lang bij VISTA, waar hij Engels geeft op de ICT-opleidingen en lid is van de examencommissie.</h2>
                        <h2 class="subtitle">ACHTERGROND:<br />Paul heeft zich in 2019 op de een of andere manier door Connor laten overtuigen om een LAN-party samen met hem op te zetten.</h2>
                        <h2 class="subtitle">HOBBY'S:<br />presentaties maken voor lessen met alleen maar plaatjes van <a style="color: lightblue;" href="https://www.reddit.com/r/wtfstockphotos/">r/wtfstockphotos</a>, het opzetten van LAN-parties en het lezen van Wikipedia-artikelen.</h2>
                        <h2 class="subtitle">AAN HET EINDE VAN DIT JAAR:<br />kijkt hij hopelijk terug op een geslaagde LAN-party en is hij in het bezit van de nieuwe Half-Life.</h2>
                        <h2 class="subtitle">MEEST GESPEELDE GAMES:<br />DOTA 2, The Elder Scrolls V: Skyrim, Civilization.</h2>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="text" style="text-align: center; font-size: 28px; margin-top: 20px;">Wil je meehelpen deze LAN-party te realiseren?<br />Stuur een e-mail naar <a style="color: lightblue;" href="mailto:p.derix@vistacollege.nl?subject=Ik%20wil%20sponsor%20worden%20voor%20VISTA%20LAN!&amp;body=Beste%20Paul,%0A%0AIk%20ben%20[naam],%20en%20ik%20wil%20graag%20sponsor%20worden%20voor%20VISTA%20LAN.%0A[bericht]">p.derix@vistacollege.nl</a> als je een sponsor wil worden.</h3>
        <h3 class="text" style="text-align: center; font-size: 28px;">Heb je nog vragen?<br />Neem dan via <a style="color: lightblue;" href="mailto:p.derix@vistacollege.nl?subject=Ik%20heb%20een%20vraag%20over%20VISTA%20LAN&amp;body=Beste%20Paul,%0A%0AIk%20ben%20[naam],%20en%20ik%20heb%20een%20vraag%20over%20VISTA%20LAN.%0A[bericht]">p.derix@vistacollege.nl</a> contact met ons op.</h3>
    </div>
</div>