@{
    ViewData["Title"] = "VISTA LAN - Over ons";
}

@* Header *@
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <p class="navbar-brand">Over ons</p>
            <a class="navbar-text" asp-area="" asp-controller="Home" asp-action="Index">Terug</a>
        </div>
    </nav>
</header>

@* Content *@
<div class="text-center">
    <div class="flex-container">
        <div>
            <p>De VISTA LAN is een initiatief van Connor Timmerman en Paul Derix, mede mogelijk gemaakt door Vista en bedacht toen Vista nog Arcus was.</p>
            <hr />
            <h1>Wie zijn wij?</h1>
            @* Connor *@
            <div class="flex-container">
                <img src="~/img/Connor.png" />
                <p>Wie: Connor Timmerman is 20 jaar en zit in het 3e jaar van de opleiding Applicatie en Mediaontwikkelaar.</p>
                <p>Achtergrond: Connor stelde in 2019, na een informatieavond waar hij meehielp,<br />voor om een LAN-party te organiseren voor de ICT-opleidingen en wist een skeptische Paul te overtuigen van de haalbaarheid.</p>
                <p>Hobby's: het opzetten van LAN-parties, HP Lovecraft boeken en programmeren in VR-omgevingen.</p>
                <p>Aan het einde van dit jaar: zal hij in bezit zijn van een Applicatie en Mediaontwikkelaar diploma en het bewijs van een geslaagde LAN-party hebben.</p>
                <p>Meest gespeelde games: Guild Wars 2, Roblox en Minecraft.</p>
            </div>
        </div>
    </div>
</div>