@{
    ViewData["Title"] = "VISTA LAN";
}

@model IndexModel

@* Content *@
<div class="jumbotron-fluid background">
    <div class="container index" style="max-width: 570px;">
        <h1 style="color: white; text-shadow: #000 1px 1px 1px; -webkit-font-smoothing: antialiased;">VISTA LAN 2020</h1>
        <h3 style="color: white; text-shadow: #000 1px 1px 1px; -webkit-font-smoothing: antialiased;">LAN-party voor iedereen van VISTA college</h3>
        @if (Model.AvailableSpots <= 0)
        {
            <h3>Sorry, er zijn geen plaatsen meer vrij.</h3>
        }
        else if (Model.PastClosingDate)
        {
            <h3 style="color: yellow;">Sorry, het evenement is nu gesloten.<br />We hopen dat je veel plezier hebt gehad en dat je de volgende keer ook weer komt!</h3>
        }
        else
        {
            <h3 style="color: yellow;">Schrijf je snel in, nog @Model.AvailableSpots plaatsen over!</h3>
            <div class="container" style="text-align: center;">
                <a asp-action="Rules" asp-controller="Home"><input class="btn" style="color: white; background-color: #e56a54;" type="button" value="> Meld je aan" /></a>
                <a asp-action="Info" asp-controller="Home"><input class="btn" style="color: white; background-color: #e56a54;" type="button" value="> Wat is dit?" /></a>
            </div>
        }
    </div>
</div>