@{
    ViewData["Title"] = "VistaLAN";
}

@model  IndexModel

@* Header *@
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <p class="navbar-brand">Voorpagina</p>
            <a class="navbar-text" asp-area="" asp-controller="Home" asp-action="Overview">Overzicht</a>
        </div>
    </nav>
</header>

@* Content *@
<div class="text-center">
    <div class="test">
        @if (Model.AvailableSpots <= 0)
        {
            <p>Sorry! Er zijn geen plekken meer vrij.</p>
        }
        else
        {
            <p>Registreer je nu voor de LAN party! Nog @Model.AvailableSpots plekken vrij!</p>
            <a asp-controller="Home" asp-action="Registration">Registreren voor evenement</a>
        }
    </div>
</div>