@{
    ViewData["Title"] = "VISTA LAN - Log in";
}

@model LoginModel

@* Content *@
<div class="jumbotron-fluid" style="height: 800px; max-height: 800px;">
    <div class="container">
        <h1 class="title">ADMINISTRATIE LOGIN</h1>
        <h2 class="subtitle">Dit is alleen bestemd voor de beheerders van de LAN-party.</h2>
        <hr />
        <div class="container" style="text-align: center;">
            <form asp-action="CheckLogin" asp-controller="Home">
                <div>
                    <h2 class="subtitle" style="text-align: center;">Gebruikersnaam:</h2>
                    <input class="white-field" type="text" asp-for="Username" />
                    <h2 class="subtitle" style="text-align: center;">Wachtwoord:</h2>
                    <input class="white-field" type="password" asp-for="Password" />
                    <h3 class="text" style="color: red; text-align: center;">@ViewData["Message"]</h3>
                    <input class="orange-button" style="margin-top: 20px;" type="submit" value="Inloggen" />
                </div>
            </form>
        </div>
    </div>
</div>