@{
    ViewData["Title"] = "VISTA LAN - AVG / Privacyverklaring";
}

@* Content *@
<div class="jumbotron-fluid" style="height: 800px; max-height: 800px;">
    <div class="container">
        <h1 class="title">AVG</h1>
        <h3 class="text">Zie ook <a style="color: lightblue;" href="https://vistacollege.nl/studeren/over-studeren-bij-vista/avg">VISTA college AVG / Privacyverklaring</a>.</h3>
        <hr />
        <h2 class="subtitle">Sinds 25 mei 2018 is de Algemene Verordering Gegevensbescherming (AVG) van toepassing. Dit is een nieuwe Europese richtlijn, waarin staat hoe je moet persoonsgegevens moet omgaan. Privacy beschermen en zorgvuldigheid zijn daarbij de uitgangspunten.</h2>
        <h2 class="subtitle">VISTA college en daarmee ook VISTA LAN bewaart zo min mogelijk gegevens van je. Alleen persoonsgegevens die nodig zijn om jou te registreren voor de VISTA LAN-party worden verzameld. Dit zijn:</h2>
        <ul class="list-group">
            <li class="list-group-item">1. Je voor- en achternaam</li>
            <li class="list-group-item">2. Je leerlingnummer</li>
            <li class="list-group-item">3. Je schoolklas</li>
            <li class="list-group-item">4. Je telefoonnummer</li>
        </ul>
        <h2 class="subtitle">Overige persoonsgegevens slaan wij NIET op.</h2>
        <h2 class="subtitle">VISTA college en daarmee ook VISTA LAN houdt zich bij het verwerken van jouw gegevens altijd aan de wet. De reden dat wij jouw gegevens bewaren is zodat we jou kunnen identificeren en toe kunnen laten op de VISTA LAN-party.</h2>
        <h2 class="subtitle">Jouw gegevens worden NIET gedeeld met andere partijen.</h2>
        <hr />
        <h2 class="subtitle">De privacywet (AVG) geeft jou ook natuurlijk rechten. Jij mag altijd je gegevens opvragen van ons. Je kunt dan zien wat wij precies van jou bewaren. Gegevens die niet kloppen of onterecht in je dossier staan mag je laten verwijderen.</h2>
        <h2 class="subtitle">Om gebruik te maken van je rechten kun je contact opnemen in het <a asp-controller="Home" asp-action="About" style="color: lightblue;">over ons</a> gedeelte.</h2>
    </div>
</div>