@{
    ViewData["Title"] = "VistaLAN - succes!";
}

@model Participant
@* Header *@
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <p class="navbar-brand">Klaar!</p>
            <a class="navbar-text" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </div>
    </nav>
</header>

@* Content *@
<div class="text-center">
    <div class="flex-form">
        <p>Je bent succesvol geregistreerd voor de LAN party, vergeet niet te betalen nadat we contact met je opnemen.<br />Veel plezier!</p>
    </div>
</div>