@{
    ViewData["Title"] = "VISTA LAN - Registratie compleet!";
}

@* Content *@
<div class="jumbotron-fluid" style="height: 800px; max-height: 800px;">
    <div class="container">
        <h1 class="title">Klaar!</h1>
        <h2 class="subtitle">@ViewData["Message"]</h2>
    </div>
</div>