@{
    ViewData["Title"] = "VISTA LAN - Registreren";
}

@model RegistrationModel

@* Content *@
<div class="jumbotron-fluid" style="height: 800px; max-height: 800px;">
    <div class="container">
        <h1 class="title">AANMELDEN</h1>
        <hr />
        <form asp-action="SubmitRegistration" asp-controller="Home">
            <div class="row">
                <div class="col-sm-6">
                    <h1 class="title">CONTACTINFORMATIE</h1>
                    <hr />
                    <div class="form-group">
                        <label class="label-text" for="firstname">Voornaam:</label>
                        <input id="firstname" class="form-control" type="text" asp-for="Participant.FirstName" required="required" />
                    </div>
                    <div class="form-group">
                        <label class="label-text" for="lastname">Achternaam:</label>
                        <input id="lastname" class="form-control" type="text" asp-for="Participant.LastName" required="required" />
                    </div>
                    <div class="form-group">
                        <label class="label-text" for="studentnumber">Leerlingnummer:</label>
                        <input id="studentnumber" class="form-control" type="number" asp-for="Participant.StudentNumber" required="required" />
                    </div>
                    <div class="form-group">
                        <label class="label-text" for="class">Klas:</label>
                        <input id="class" class="form-control" type="text" asp-for="Participant.StudentClass" required="required" />
                    </div>
                    <div class="form-group">
                        <label class="label-text" for="phone">Telefoonnummer:</label>
                        <input id="phone" class="form-control" type="tel" asp-for="Participant.PhoneNumber" required="required" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <h1 class="title">WAT NEEM JE MEE?</h1>
                    <hr />
                    <div class="form-group">
                        <label class="label-text" style="display: inline-block;" for="consolecheck">Console:</label>
                        <input id="consolecheck" class="form-control" style="display: inline-block; vertical-align: middle; width: calc(1.5em + 2px + 0.75rem);" type="checkbox" asp-for="Participant.BringsConsole" />
                    </div>
                    <textarea class="form-control" asp-for="Participant.ConsoleDetails" rows="10" cols="80" placeholder="Welke console neem je mee? Neem je ook randapparatuur mee?"></textarea>
                    <div class="form-group">
                        <label class="label-text" style="display: inline-block; margin-top: 15px;" for="computercheck">Computer:</label>
                        <input id="computercheck" class="form-control" style="display: inline-block; vertical-align: middle; width: calc(1.5em + 2px + 0.75rem);" type="checkbox" asp-for="Participant.BringsComputer" />
                    </div>
                    <textarea class="form-control" asp-for="Participant.ComputerDetails" rows="10" cols="80" placeholder="Neem je een computer of laptop mee? Neem je ook randapparatuur mee?"></textarea>
                </div>
                <input type="hidden" asp-for="Participant.HasPaid" value="0" />
                <div style="text-align: center; margin: 0 auto;">
                    <label class="label-text" for="tos">Ik ga akkoord met de <a style="color: lightblue;" asp-controller="Home" asp-action="Privacy">AVG / Privacyverklaring</a>.</label>
                    <input id="tos" class="form-control" style="width: calc(1.5em + 2px + 0.75rem); vertical-align: middle; margin: 0 auto; margin-top: -10px;" type="checkbox" required="required" />
                    <input class="orange-button" style="margin-top: 20px;" type="submit" value="Aanmelden" />
                </div>
            </div>
        </form>
    </div>
</div>