@{
    ViewData["Title"] = "Vista LAN sponsors";
}

@* Content *@
<div class="jumbotron-fluid" style="height: 800px; max-height: 800px; background-size: cover; background-image:url('img/back-1.png');">
    <div class="container">
        <h1 class="title">SPONSORS</h1>
        <hr />
        <h2 class="subtitle">De VISTA LAN-party is mede mogelijk gemaakt door <a style="color: lightblue;" href="https://www.ah.nl/winkel/albert-heijn/heerlen/schandelerboord/1396">Albert Heijn Heerlen</a> en Vista College</h2>
        <h2 class="subtitle">Als je ons wil helpen met de LAN-party en jezelf of je bedrijf wil promoten, dan kun je een sponsor worden door <a style="color: lightblue;" href="">hier</a> te klikken.</h2>
        <h2 class="subtitle">Geld of middelen zullen gebruikt worden om de LAN-party beter en groter te maken. Ook krijg je een vermelding op deze site.</h2>
        <h2 class="subtitle">Als je sponsort en promotiemateriaal meelevert, dan zullen we dit materiaal ook gebruiken tijdens de LAN-party (in overleg).</h2>
    </div>
</div>