/*
    CSS style sheet 

    Kleurtjes:
        Rood:   #e56a54
        Blauw:  #00555c

*/

h1.title {
    display: block;
    padding: 8px;
    margin-top: 7px;
    color: white;
    text-align: left;
    font-family: Arial;
    font-weight: bold;
    font-size: 24px;
}

h2.subtitle {
    display: block;
    padding: 6px;
    margin-top: 4px;
    color: white;
    text-align: left;
    font-family: Arial;
    font-weight: bold;
    font-size: 18px;
}

h3.text {
    display: block;
    padding: 4px;
    margin-top: 2px;
    color: yellow;
    text-align: left;
    font-family: Arial;
    font-weight: bold;
    font-size: 16px;
}

label.label-text {
    display: block;
    padding: 4px;
    margin-top: 2px;
    color: white;
    text-align: left;
    font-family: Arial;
    font-weight: bold;
    font-size: 16px;
}

input[type=button].orange-button {
    display: block;
    width: 200px;
    height: 60px;
    color: white;
    font-size: 24px;
    margin: 0 auto;
    background-color: #e56a54;
    border-radius: 15px;
}

input[type=submit].orange-button {
    display: block;
    width: 100px;
    height: 40px;
    color: white;
    font-size: 16px;
    margin: 0 auto;
    background-color: #e56a54;
    border-radius: 15px;
}

input[type=text].white-field {
    display: block;
    width: 150px;
    font-size: 16px;
    margin: 0 auto;
    border-radius: 15px;
}

input[type=password].white-field {
    display: block;
    width: 150px;
    font-size: 16px;
    margin: 0 auto;
    border-radius: 15px;
}