@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" class="alert alert-info alert-dismissible fade show" role="alert">
        Hey! Wij gebruiken cookies om administratoren ingelogd te houden. Dit is voor studenten dus niet van toepassing en kan gewoon genegeerd worden. Over jouw persoonsgegevens, lees <a asp-area="" asp-controller="Home" asp-action="Privacy">hier</a> meer.
        <button type="button" class="accept-policy close" data-dismiss="alert" aria-label="Sluiten" data-cookie-string="@cookieString">
            <span aria-hidden="true">OK</span>
        </button>
    </div>
    <script>
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function (event) {
                document.cookie = button.dataset.cookieString;
            }, false);
        })();
    </script>
}
