<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=185.41.126.25,9145; Network Library=DBMSSOCN; Initial Catalog=DerixVISTALAN; " />
    <add key="DbUsername" value="DerixMASTER" />
    <add key="DbPassword" value="Qr!K08vS" />
    <add key="ClosingDate" value="21-2-2020 18:30:00" />
  </appSettings>
</configuration>