<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=sql2014-1.mijnhostingpartner.nl; Initial Catalog=DerixVISTALAN; " />
    <add key="DbUsername" value="DerixMASTER" />
    <add key="DbPassword" value="Qr!K08vS" />
  </appSettings>
</configuration>