<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Server=localhost\SQLEXPRESS; Database=VistaLAN; Integrated Security=False; " />
    <add key="DbUsername" value="DBMASTER" />
    <add key="DbPassword" value="M07cwK%4" />
  </appSettings>
</configuration>